<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="livroForm">
    <ion-item>
        <ion-label position="floating">Nome: </ion-label>
        <ion-input formControlName="nome"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="nome.errors">
            <small *ngIf="nome.errors.required && (nome.dirty || nome.touched)">
                O campo nome é obrigatório
            </small>
            <small *ngIf="nome.errors.minlength && (nome.dirty || nome.touched)">
                O campo nome deve conter no mínimo {{nome.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="nome.errors.maxlength && (nome.dirty || nome.touched)">
                O campo nome deve conter no máximo {{nome.errors.maxlength.requiredLength}} caracteres
            </small>
        </ion-text>    
    </ion-item>

    <ion-item>
        <ion-label>Autores</ion-label>
        <ion-select interface="popover" formControlName="autor" >
          <ion-select-option value="machado">Machado de Assis</ion-select-option>
        </ion-select>
        <ion-text color="danger" *ngIf="autor.errors">
            <small *ngIf="autor.errors.required && (autor.dirty || autor.touched)">
                O autor é obrigatório
            </small>
        </ion-text>    
    </ion-item>
    <ion-fab vertical="bottom"
             horizontal="end">
        <ion-fab-button (click)="salvar()" [disabled]="!livroForm.valid">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</form>
</ion-content>
